{% load static %}
<!DOCTYPE HTML>
<html lang="en">
   <head>
      <title>
            {% block title %}
            1조 Mini Project 게시판
            {% endblock %}
        </title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

      {% block styles %}
      <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
      {% endblock %}

   </head>
   <body class="no-sidebar is-preload">
      <div id="page-wrapper">
         <!-- Header -->
            <section id="header" class="wrapper">
               <!-- Logo -->
                  <div id="logo">
                     <h1><a href='/home'>Cloud Engineer</a></h1>
                  </div>
            </section>
    {% block body %}
    {% endblock %}